* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgb(47, 113, 179) 50%, white 50%) fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}

.Container {
    width: 100%;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
   
}

h4 {
    font-size: 1.5rem;
}
input{
    width: 200px;
    margin:  10px;
    padding: 11px;
    font-size: 15px;
    outline: none;
    border: .9px solid;
    text-align: center;
}
button{
    padding:15px;
    background-color: rgb(47, 113, 179);
    color: white;
    border: none;
    cursor: pointer;
    /* font-weight: bold; */
}
p{
    font-weight: bold;
}